# Database configuration template
PRODUCTION_DB_NAME=plp_chat_db
PRODUCTION_DB_USER=postgres
PRODUCTION_DB_PASSWORD=your_secure_password_here
PRODUCTION_DDL_AUTO=update
PRODUCTION_SHOW_SQL=true
PRODUCTION_MAIL_HOST=smtp.gmail.com
PRODUCTION_MAIL_PORT=587
PRODUCTION_MAIL_USERNAME=your@gmail.com
PRODUCTION_PASSWORD=your-16-char-app-password